.match_result {
  display: flex;
  justify-content: center;
  align-items: center;
}

.match_team {
  display: flex;
  align-items: center;
}

.match_value {
  font-size: 24px;
  font-weight: 600;
  margin: 0px 15px;
}

.match_vs {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.match_team_name {
  padding: 0 10px;
}

.team_won {
  color: rgb(19, 201, 19);
}

.team_lost {
  color: rgb(240, 27, 45);
}

.matchRoom_status {
  color: rgb(194, 192, 192);
  font-size: 12px;
  font-weight: 500;
}

.match_link {
  cursor: pointer;
  text-decoration: underline;
}

.scoreboard {
  margin: 0px 20px;
  margin-top: 50px;
}

.scoreboard_team {
  margin-bottom: 10px;
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.scoreboard_team_name {
  margin-left: 10px;
}

.scoreboard_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.half_score {
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.half_score div {
  margin-left: 10px;
  display: flex;
}

.half_score_num {
  font-weight: 500;
}

.goback_link {
  margin-left: 20px;
}
