header {
  background: rgba(0, 0, 0, 0.87);
  box-shadow: rgba(0, 0, 0, 0.38) 0px 2px 8px 4px;
  height: 56px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
}

.logo {
  height: 35px;
  width: 30px;
  transition: 0.5s;
}

.logo:hover {
  background: rgba(49, 49, 49, 0.87);
}
